.message-box
  .group-header
    .group-p
      %h3.group-main @kawano
      %p.menber-list @yujiro
    .edit-button
      = link_to 'edit', edit_group_path(@group)

  .message-main
    .messages
      .one-message
        .message-upperinfo
          %p.message-talker kawano
          %p.message-date 01/09
        .message-text
          %p.message-text 長い
  .message-form
    .message-new-massage
      .input-content-box
        .input-box
          = form_for [@group, @message] do |f|
            -# %input.form__message
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              -# %label.form__mask__image
              = f.label :image, class: 'form__mask__image' do
                = icon('fas', 'image', class: 'icon')
                .hidden
                  -# %input.hidden{type: 'file'}
                  -# %input.input__submit{type: 'submit', value: 'Send'}
                  = f.submit 'Send', class: 'form__submit'

      -#  .form
      -# = form_for [@group, @message] do |f|
      -#   = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      -#   .form__mask
      -#     = f.label :image, class: 'form__mask__image' do
      -#       = icon('fas', 'image', class: 'icon')
      -#       = f.file_field :image, class: 'hidden'
      -#   = f.submit 'Send', class: 'form__submit'