.chat-side
  .side-header
    .side-username
      .name-item
        = current_user.name
      .icon-item
        .edit  
        = link_to new_group_path do
          = icon('fas','edit')
        .haguruma
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
        
  .side-main
    - current_user.groups.includes(:messages).each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message